#header {

text-align:20px;

background-color: DodgerBlue;
width: 100%;
height: 80px;
padding-top: 2px;
color: White;
}

p{ 
    margin-top:60px;
    margin:20px;
}

 #manu {
            height: 40px;
            margin-bottom:5px;
        }

 #nav {
      width: 100%;
      float: left;
      padding: 0;
      list-style: none;
      background-color:lawngreen;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
   
    height: 40px;
}
   #nav li {
      float: left;
   }
   #nav li a {
      display: block;
      padding: 8px;
      text-decoration: none;
      font-weight: bold;
      color: white;
      border-right: 1px solid #ccc; }
   #nav li a:hover {
      color: white;
      background-color: black; }

#slide {
  width: 100%;
  height: 300px;
 
  background-image:url("images/img.jpg");
  background-size: 100% 300px;
    background-repeat: no-repeat;
}

#section {
  position: relative;
  background-color:gray;
   margin-top:5px;
  min-height:430px;
/*overflow: hidden;*/
    height: 19px;
}

#Big_block {
position: absolute;
  float: left;
  background-color: mediumspringgreen;
  color:black;
  margin-left:15%;
  margin-top:35px;
  width: 50%;
  height: 362px;
 
    left: 117px;
    right: 252px;
    top: 8px;
}

.block {
  position: relative;
  float: left;
  background-color: mediumspringgreen;
  color:black;
  margin-left: 1.6%;
  width: 18%;
  height: 300px;
  top: 50px;
    left: 0px;
}

#lower {
    margin-top:5px;
  width: 100%;
  height: 200px;
 
  background-color:deepskyblue ;
}

#footer {
  width: 100%;
  height: 25px;
  background-color:DodgerBlue;
  color:White;
  text-align:center;

}